/* Footer */
.footer {
    background: #1e4776;
    padding-top: 45px;
    padding-bottom: 130px;
    color: white;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-copyright {
    color: #7e9ec9;
    line-height: 1.3;
    max-width: 350px;
  }
  .footer-copyright-name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .footer-copyright p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .footer-icons {
    max-width: 350px;
  }
  
  .footer-icons p {
    font-weight: 600;
    font-style: 16px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .footer-icons-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-contacts {
    max-width: 350px;
  }
  .footer-button {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
  
    border: 3px solid #ffffff;
    border-radius: 50px;
  
    line-height: 44px;
    color: white;
    font-weight: 700;
    font-style: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .footer-contacts p {
    margin: 15px 0;
    font-style: 16px;
    line-height: 1.3;
    color: #7e9ec9;
    padding-left: 10px;
  }
  