/* Prtfolio */
.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
  }
  
  .portfolio-header {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    /* color: #000000; */
  }
  
  .portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    max-width: 540px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
  }
  .card:hover {
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  }
  .card-img {
    margin-bottom: 20px;
  }
  .card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
  }
  .card p {
    line-height: 130%;
    font-size: 16px;
  }
  